participant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/participant" xmlns:tns="http://www.example.org/participant" elementFormDefault="qualified">

<element name="participant">
	<complexType>
		<sequence>
			<element name="name" type="string"/>
			<element name="email" type="string"/>
			<element name="phone" type="string"/>
		</sequence>
	</complexType>
</element>

</schema>